<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet"  href="{% static 'css/style.css' %}">
        <title>Diabetes Predictor</title>
    </head>
    <body>
        <div class="header-box">
            <nav class="nav">
                <ul>
                    <li>
                        <a href="/">Home</a></li>
                    <li>
                        
                    </li>
                </ul>
 
 
            </nav>
 
        </div>
        <div class="header">
            <h1>Diabetes Risk Analysis</h1>
            <p>Find out if you're at risk</p>
        </div>
        

    </body>
</html>