h1 {
    color:black;
}
 
body {
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
}

.text {
    color: black;
    font-family: cursive;
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2.5;
}
 
.header {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0%;
    border-bottom: 2px solid gray;
    text-align: center;
    background: lightblue;
    color: rgb(91, 80, 80);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.header-box {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem 1rem;
    padding:  1.75rem 1rem;
    box-shadow: 0 10px 80px gray;
    background-color: black;
    z-index: 1;
}
 
li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24 ;
}
 
 
.nav {
background-color: #555 ;
position: absolute;
z-index: 999;
}
 
.nav ul {
list-style-type: none;
margin: 0;
padding: 0;
background: black;
}
 
.nav li {
display: inline-block;
}
 
.nav li a {
color: white;
display: block;
padding: 10px 20px;
text-decoration: none;
}
 
 
.nav ul ul {
position: absolute;
top: 100%;
display: none;
}
 
.nav ul ul li {
display: block;
}
 
.nav li:hover ul {
display: block;
}
 
 
.nav ul ul li a:hover {
background-color: #555;
}
 
.beg{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
 
 
  h2 {
    margin-left: 40px;
  }
 
.questions{
    margin-left:40px;
 
}
 
.questions:invalid {
 
    border: solid 2px red;
 
  }
.questions:valid {
    border: solid 3px green;
   
  }